{% load static %}

{% load static %}
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <title>Search Book Engine</title>
        <style>
        body {
            font-family: 'Nunito', sans-serif !important;
            background: wheat;
            }
        </style>
</head>

{% block content %}

<div class="text-center" style="margin-top: 30px;">
    {% if user.is_authenticated %}
    <h1>Selamat datang, {{user}}</h1> 
    <a href="{% url 'app9:logout' %}">
        <div class='logout'>
            Log out
        </div>
    </a>
    {% else %}
    <h1>Log in dulu ya!</h1>
    <a href="{% url 'app9:acc' %}">
        <div class='login'>
            Log in
        </div>
    </a>
    {% endif %}

</div>
{% endblock %}
